@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

body {
  height: 100vh;
  font-family: 'Fira Sans', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  text-align: center;
  color: #7c7b7d;
}

.main-container {
  width: 350px;
  background-color: #525051;
  padding: 1px;
}

.menu {
  height: 20px;
  display: flex;
  padding: 5px;
}

  .menu-btn {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    text-align: center;
    margin-right: 5px;
    font-size: small;
    color: #525051;
    font-weight: bold;
    cursor: default;
  }

    .close {
      background-color: #ff0000;
    }

    .minimize {
      background-color: #f2ff00;
    }

    .resize {
      background-color: #00ff04;
    }

.display {
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  overflow-wrap: anywhere;
  overflow-y: scroll;
  color: #FFFFFF;
  padding: 0;
}

  .display h1,
  .display h2 {
    margin: 0 15px;
  }

    .display h1 {
      font-size: 3rem;
    }

    .display h2 {
      color: #9e9e9e;
    }

.keys {
  height: 75%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 3px;
}

  #zero {
    grid-column: 1/3;
  }

  button {
    height: 75px;
    background-color: #7c7b7d;
    color: #FFFFFF;
    border: none;
    font-size: 1.25rem;
  }

    button:active {
      background-color: #646464;
    }

    .operators {
      background-color: #1fbd34;
    }

      .operators:active {
        background-color: #25d83c;
        }

    .danger-btn {
      background-color: #ff9f0f;
    }

      .danger-btn:active {
        background-color: #ffbb55;
      }